.header{
    display: flex;
    flex-direction: row;
    padding: 2vw;
    align-items: center;
    width: 80%;    
}

.header>h1{
    color: white;
    width: 80%;
    text-align:inherit;
    font-size: 64px;
}

.header>a{
    color: white;
    width: 20%;
    text-align: end;
}

.form{
    height: 100vh;
    background: url('../assets/form.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-register{
    color: white;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    text-align: left;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: space-between;
    width: 50%;
    padding: 2vw;
}

.data{
    width: 90%;
    display: flex;
    align-items: start;
    flex-direction: column;

}

.input-data{
    padding: 1vw;
    background: none;
    border: 0px;
    border-bottom: 2px solid white ;
    width: 80%;
    font-size: 32px;
    font-weight: bolder;
    outline: none;
    color: white;
}

.bt-login{
    width: 80%;
    padding: 1.5vw;
    font-size: 32px;
    font-weight: bolder;
    border-radius: 50px;
}

.title-sub{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2vw;
    align-items: start;
    color: white;
}

.title-form{
    width: 100%;
    text-align: left;
}

@media (max-width:768px){
    .input-data{
        font-size: 30px;
        width: 100%;
    }
    .bt-login{
        width: 100%;
        font-size: 30px;
    }
    .header{
        width: 100%;
    }
    .form-login{
        gap: 4vw;
    }

    .link-register{
        font-size: 20px;
        width: 50%;
    }
    .form{
        align-items: flex-end;
        justify-content: space-around;
    }
    .title-form{
        font-size: 25px;
    }
}

@media (max-width:640px){
    .header>h1{
        font-size: 40px;
    }
    .input-data{
        font-size: 24px;
        width: 100%;
    }
    .bt-login{
        width: 100%;
        font-size: 24px;
    }
    .data{
        width: 100%;
        align-items: center;
    }
    .form-login{
        gap: 10vw;
        width: 70%;
    }
    .link-register{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
    .form{
        background: black

    }
}