*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    list-style: none;
    font-size: 26px;
    align-items: center;
}

.button-nav{
    font-size: 26px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
}

.button-nav:hover{
    background-color: black;
    color: white;
    transition: all .5s ease;
}

.logo{
    width: 10%;
}

.logo-title{
    display: flex;
    gap: 1vw;
    font-size: 32px;
    align-items: center;
    
}
.Comp-Link{
    text-decoration: none;
}