*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
}


ul{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 50%;
    list-style: none;
    font-size: 26px;
    align-items: center;
}

.link-header{
    color: white;
    text-decoration: none;
    padding: 0.5vw;
}

.link-header:hover{
    transition: all .7s ease;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    color: black;
}


.link-header-black{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5vw;
}

.link-header-black:hover{
    transition: all .7s ease;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}


.button-nav{
    font-size: 26px;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
}

.button-nav:hover{
    background-color: black;
    color: white;
    transition: all .5s ease;
}

.logo{
    width: 10%;
}

.logo-title{
    display: flex;
    gap: 1vw;
    font-size: 32px;
    align-items: center;
    color: white;
    width: 50%;  
}

.logo-title-black{
    display: flex;
    gap: 1vw;
    font-size: 32px;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 50%;  
}


.Comp-Link{
    text-decoration: none;
}

.Page_histoy{ 
    background-color: black;
    color: white;
    padding: 0.5vw 1vw;
    border-radius: 30px;
    text-decoration: none;
}

.Pages{ 
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5vw 1vw;
    border-radius: 30px;
    text-decoration: none;
}