/*.main{
    background: url('../assets/maps.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


.leaflet-container{
    width: 100%;
    height: 400px;
    border-radius: 30px;
    border: 2px solid green;
   }

.main-ubi{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}
.map-text{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3vw;
    align-items: center;
}

.map{
    width: 50%;
}

.text-ubi{
    width: 50%;
    font-size: 1.7vw;
    text-align: justify;
}
.text-ubi>h1{
    text-align: left;
    font-size: 5.2vw;
}

@media(max-width:768px){
    .map-text{
        flex-direction: column;
        width: 100%;
    }
    .text-ubi{
        font-size: 14px;
    }
    .text-ubi>h1{
        font-size: 50px;
    }
    .text-ubi,.map{
        width: 80%        
    }
}

@media(max-width:768px){
    .text-ubi{
        font-size: 14px;
    }
    .text-ubi>h1{
        font-size: 40px;
    }

}


@media(max-width:450px){
    .text-ubi{
        font-size: 14px;
    }
    .text-ubi>h1{
        font-size: 35px;
    }
    .leaflet-container{
        height: 300px;
        width: 300px;
    }
}