@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
}

h1{
    font-weight: bold;
}

.leaflet-container{
 width: 100%;
 height: 70vh;
 border-radius: 30px;
}
.Bg-Gray{
    background-color: rgb(216, 212, 212);
    width: 50vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Bg-Red{
    background-color: red;
}
.Bg-Blue{
    background-color: blue;
}

.welcome{
    background: url("./assets/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.title-Init{
    width: 50%;
    padding: 2vw;
}

.Init{
    display: flex;
    width: 80%;
    margin: 0  auto;
    font-size: 5vw;
}

@media (max-width:1024px){
    .Init{
        font-size: 5.5vw;
    }
}

@media (max-width:650px){
    .Init{
        font-size: 6.5vw;
    }
}


