.leaflet-container{
 width: 100vw;
 height: 100vh;
}
.Bg-Gray{
    background-color: rgb(216, 212, 212);
    width: 50vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Bg-Red{
    background-color: red;
}
.Bg-Blue{
    background-color: blue;
}

.welcome{
    background: url("./assets/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-Init{
    width: 50%;
    padding: 2vw;
}

.Init{
    display: flex;
    width: 80%;
    height: 90vh;
    font-size: 80px;
}